---
import Layout from "../layouts/BaseLayout.astro";
import { goals2025 } from "../pages/index.astro";
---

<Layout title="Goals" description="Goals and progress.">
  <article class="max-w-2xl mx-auto px-4 pt-24">
    <h1
      class="font-serif text-5xl font-bold mb-8 text-text-primary-light dark:text-text-primary"
    >
      Goals
    </h1>
    <p
      class="font-mono text-text-secondary-light dark:text-text-secondary mb-12"
    >
      Philosophy about goal-setting: Consistency over intensity.
    </p>

    <section class="mb-12">
      <h2
        class="font-serif text-3xl font-bold mb-4 text-text-primary-light dark:text-text-primary"
      >
        2025
      </h2>

      <div class="card space-y-3 mb-12">
        {
          goals2025.map((goal) => (
            <div class="flex items-center gap-3 font-mono">
              <span class:list={["text-xl", { "opacity-40": goal.completed }]}>
                {goal.completed ? "☑" : "☐"}
              </span>
              <span
                class:list={[
                  "flex-1",
                  { "opacity-40 line-through": goal.completed },
                ]}
              >
                {goal.text}
                {goal.progress && (
                  <span class="text-text-secondary ml-2">
                    ({goal.progress})
                  </span>
                )}
              </span>
            </div>
          ))
        }
      </div>

      <section class="mb-12">
        <h3
          class="font-serif text-2xl font-bold mb-2 text-text-primary-light dark:text-text-primary"
        >
          Archived Years
        </h3>
        <p class="text-text-secondary-light dark:text-text-secondary mb-4">
          2025: Completed 3/?
        </p>
      </section>

      <section>
        <h3
          class="font-serif text-2xl font-bold mb-2 text-text-primary-light dark:text-text-primary"
        >
          Reflections
        </h3>
        <p class="text-text-secondary-light dark:text-text-secondary">
          What I learned. Patterns noticed.
        </p>

        <div class="pt-12">
          <div class="card space-y-3">
            <p class="text-text-secondary-light dark:text-text-secondary">
            <span class="font-bold">2025:</span> a year of laying the foundation, setting the soil up for fertile growth. next year, i expect to achieve more than i ever thought could be possible.
          </p>
        </div>
        </div>
      </section>
    </section>
  </article>
</Layout>